# --- icepatch.config (Versión Corregida con Nuevos Puertos) ---

# Endpoints (Puerto de escucha de IcePatch): Mantenemos 10000 o cámbialo si falla.
IcePatch2.Server.Endpoints=tcp -h 127.0.0.1 -p 10000 
IcePatch2.Server.Directory=./patch_data/SpotificeApp 
IcePatch2.Server.Distribute=1

# Locator: PUERTO CAMBIADO A 4071
Ice.Default.Locator=IceGrid/Locator:tcp -h 127.0.0.1 -p 4071