# --- config.node2.config (Versión Corregida con Nuevos Puertos) ---

# Configuración del Nodo 2
IceGrid.Node.Name=node2
IceGrid.Node.Data=icegrid/db/node2
IceGrid.Node.Endpoints=tcp -h 127.0.0.1 -p 4066

# Conexión al IceGrid Registry: PUERTO CAMBIADO A 4072
IceGrid.Registry.Endpoints=tcp -h 127.0.0.1 -p 4072